/*Reset de estilos ________________________________________________________*/
* {
    margin: 0px;
    padding: 0px;
}

/*Estilos generales________________________________________________________*/
header{
   padding-top: 100px;
}

body{   
    background-color: #2f2f2f;
    background-image: url(/Img/O9FG5P0.jpg);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#FFF8FB;
}

h1, h2, h3 {
    margin: 20px;
}


a{
    color: #FBB1CC;  
    text-decoration: none;
  }

nav {
    margin-left: 300px;
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0;
    width: 37.5%;
}

nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
  }

ul {
    list-style-type: none;
}

  nav a:hover {
    background-color: #FBB1CC;
    font-weight: bold;
    color: black;
  }
  
p {
 padding: 50px; 
 line-height: 2; 
}

footer{
    background-color:#333 ;
    text-align: center;
    height: 300px;
    margin-top: 120px;
}

footer a {
    font-size: 1.5rem;
    float: left;
    display: block;
    padding: 14px 20px;
}


/*Home_____________________________________________________________________*/
.cajaLogo{
    padding-top: 150px;
    text-align: center;
}

#logo{
    width: 100px;
    border-radius: 20px;
}

/*Sobre mi________________________________________________________________*/
#sobre-mi {
    text-align: center;
}
.fondeText{
    background-color: #333;
    margin: 20px 200px 0px;
    padding: 20px;
}

.fondeText2{
    background-color: #333;
    width: 450px;
    margin-top: 20px;
    padding: 20px;
}

#linea-ux {
    text-align: center;
}

#lineaUx {
    width: 1200px;
    height: auto;
}

#habilidades {
    margin: 100px;
}
/*Proyetos________________________________________________________________*/

/*Servicios_______________________________________________________________*/
/*Contactame______________________________________________________________*/
form{
    background-color: #333;
    margin: 100px 500px;
    padding: 30px;

}

form input{ 
    margin: 15px;
}